name: Image for pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: vinicpires/vinicius-jackexperts
    - name: Image for pipeline
      run: docker build . --file Dockerfile --tag vinicius-jackexperts:$(date +%s)
  
